<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
        <h1>
            <%= title %>
        </h1>
        <section>
            <%= body %>
        </section>
    </div>
</section>